/* استایل‌های مشترک */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
  font-family: vazirmatn;
  src: url(../font/Vazirmatn-Light.woff2);
}
@font-face {
  font-family: vazirthin;
  src: url(../font/../font/Vazirmatn-Medium.woff2);
}


body {
  margin: 0;
  padding: 0;
  font-family: 'vazirthin', sans-serif;

}


body ::selection {
  background-color: black;
  color: white;
}

body ::-moz-selection {
  background-color: black;
  color: white;
}


a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
}

.nav {
  width: 100%;
  background-color: transparent;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1000;
}

.nav__a>ul>li {
  float: right;
  list-style: none;
  position: relative;
}

.nav__a ul li a {
  padding: 0 15px;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'vazirmatn', sans-serif !important;
  font-size: 17px;
  color: black;
}

.nav__a ul li a i {
  margin-right: 5px;
}

.nav__a ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}

.nav__a ul li ul {
  position: absolute;
  width: 150px;
  background: #fff;
  top: 55px;
  right: 20px;
  box-shadow: 0px 1px 6px #e6e6e6;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
  z-index: 999;
  flex-direction: column;
}

.nav__a ul li ul li {
  list-style: none;
  width: 100%;
}

.nav__a ul li ul li a {
  padding: 9px 15px;
  display: block;
  font-weight: normal;

}

.nav__a ul li ul li a:hover {
  background: #5caf21;
  color: #fff;
}

.nav__a>ul>li:hover ul {
  opacity: 1;
  visibility: visible;
  top: 55px;
}

.nav__icon {
  display: flex;
  margin-right: 25%;
  align-items: center;
  >img {
    width: 25px;
    margin-right: 12px;
  }
}
  /* From Uiverse.io by ErzenXz */
  .input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 60%;
    height: 30px;
    padding: 10px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }

  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }

  .input:active {
    transform: scale(0.95);
  }

  .input:focus {
    border: 2px solid grey;
  }



.fa-brands {
  color: gray;
  border-radius: 100%;
  border: solid gray;
}

.footer {

  width: 100%;
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  display: flex;
  height: 65vh;
  flex-direction: column;
  justify-content: space-between;
}

.footer p {
  width: 80%;
  margin: 0 auto;
}
.footer__icon img{
width: 35px;
margin: 10px;
}

.footer__img img {
  width: 70px;
}


.footer__map {
  width: 100%;
  height: 25vh;
}


.cellOne {
  justify-content: flex-start;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1607843137);
  height: auto;
}


.imgone::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transition: all 0.2s linear;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.cellOne:hover .imgone::before {
  background: rgba(0, 0, 0, 0);
  /* حذف شفافیت در hover */
}

.imgone img {
  width: 100%;
  object-fit: cover;
  height: -webkit-fill-available;
}

.txtone {
  padding: 10px;

  >h5 {
    color: #534949;
    margin-bottom: 1.5rem;
  }

  >p {
    text-align: justify;
    color: gray;
  }
}

.banner {
  background-image: url(../images/galleryimg/c30cf865c290ad15dc71b39637cc6300.jpg);
  height: fit-content;
  background-position: bottom;
  background-size: cover;
  text-align: center;
  padding: 15px;
  color: #2c2c2c;

}

.blog_content {
  margin: 30px auto;
  text-align: center;
  display: grid;
  gap: 80px 20px;
  justify-items: center;

}

/* استایل‌های مخصوص لپ‌تاپ و دسکتاپ */
@media (min-width: 768px) {

  /* استایل مخصوص منو لپ تاپ */
  
  .nav{
    height: 90px;
}
  .nav__a {
    display: block;
    position: static;
    /* در دسکتاپ، منو دیگه نیازی به ثابت بودن نداره */
  }

  #open {
    display: none;
  }

  .nav__a {
    display: -webkit-box;
    width: 40%;
    padding: 1em;
    font-family: afont;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .nav a:hover {
    color: gray;
  }

  .nav__logo {
    width: 12em;

    >img {
      width: 100%;
    }
  }

  .nav__icon #bars {
    display: none;
  }

  .nav.navbar {
    padding: 0;
    background-color: #f1f1f1;
    color: black;
    position: fixed;
  }

  .fa-brands {
    font-size: 25px;
    padding: 15px;
    margin: 20px;
  }


  .footer__address ul {
    display: flex;
    justify-content: space-around;
  }

  .banner {
    >h3 {
      margin: 30px auto;
      font-size: 16px;
      text-align: justify;
      width: 26%;

    }
  }

  .blog_content {
    margin: 5% auto;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
  }

  .cellOne {
    flex-direction: row;
    width: 90%;
    height: 100%;
  }

  .imgone {
    width: 45%;
    position: relative;
  }

  .txtone {
    width: 50%;
    >p{
      font-size: 15px;
    }
  }
}



/* استایل موبایل */
@media (max-width: 766px) {
  .nav {
    display: flex;
    justify-content: space-between;

    >.nav__icon {
      width: 25%;
      display: flex;
      justify-content: space-around;
    }
  }

  /* استایل مخصوص منو موبایل */
  .nav__a {
    display: none;
    position: fixed;
    top: 52px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a6a6a6;
    /*  بک گراند تیره برای پوشاندن صفحه */
    z-index: 999;
    opacity: 0;
      pointer-events: none;
    /* تا زمانی که باز نشده، کلیک روی آن بی اثر است */
    transition: opacity 0.3s ease;
    /* انیمیشن برای باز و بسته شدن */
  }

  .menu_phone {
    display: block;
    opacity: 1;
    pointer-events: auto;
    /* کلیک روی منو فعال میشه */
  }

  .input {
    display: none;
  }

  .nav__logo {
    width: 45%;

    >img {
      width: 100%;
    }
  }

  .nav__a ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;

    >li {
      text-align: center;

      >a {
        color: red;
      }
    }
  }


  .fa-brands {
    font-size: 15px;
    padding: 12px;
    margin: 20px 15px;
  }

  .footer__address ul {
    display: flex;
    flex-direction: column;
    line-height: 35px;
  }

  .banner {
    >h1 {
      font-size: 20px;
    }

    >h3 {
      width: 80%;
      margin: 20px auto;
      font-size: 12px;
    }
  }

  .blog_content {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 10% auto;
    justify-content: stretch;

    >a {
      width: 100%;
    }
  }

  .txtone {
    >p {
      font-size: 12px;
    }
  }

  .cellOne {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .imgone {
    width: 100%;
    position: relative;
  }

  .txtone {
    width: 100%;
  }
}

