// colors
$primary-color: black;
$primary-color2: white;

// width
$full-width: 100%;
$half-width: 50%;
$logo-size: 12.5em; //parent=html(16px)   ,  child (12.5*16) == 200px

//hight
$full-hight: 100%;
$slider-hight: 60vh;


//padding
$xs-padding: 0.5em;            //parent=html(16px)   ,  child (0.5*16) == 8px
$s-padding: 1em;             //16px
$m-padding: 2em;            //32px
$l-padding: 4em;

//margin
$s-margin: 1em;
$m-margin: 2em;            //32px
$l-margin: 4em;         //64px
$xl-margin: 6em;         //96px
