/* استایل‌های مشترک */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: vazirmatn;
  src: url(../font/Vazirmatn-Light.woff2);
}

@font-face {
  font-family: vazirthin;
  src: url(../font/../font/Vazirmatn-Medium.woff2);
}

@font-face {
  font-family: vazirbold;
  src: url(../font/Vazirmatn-Bold.woff2);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'vazirthin', sans-serif;

}


body ::selection {
  background-color: black;
  color: white;
}

body ::-moz-selection {
  background-color: black;
  color: white;
}


a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
}

.nav {
  width: 100%;
  background-color: transparent;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1000;
}

.nav__a>ul>li {
  float: right;
  list-style: none;
  position: relative;
}

.nav__a ul li a {
  padding: 0 15px;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'vazirmatn', sans-serif !important;
  font-size: 17px;
  color: black;
}

.nav__a ul li a i {
  margin-right: 5px;
}

.nav__a ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}

.nav__a ul li ul {
  position: absolute;
  width: 150px;
  background: #fff;
  top: 55px;
  right: 20px;
  box-shadow: 0px 1px 6px #e6e6e6;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
  z-index: 999;
  flex-direction: column;
}

.nav__a ul li ul li {
  list-style: none;
  width: 100%;
}

.nav__a ul li ul li a {
  padding: 9px 15px;
  display: block;
  font-weight: normal;

}

.nav__a ul li ul li a:hover {
  background: #5caf21;
  color: #fff;
}

.nav__a>ul>li:hover ul {
  opacity: 1;
  visibility: visible;
  top: 55px;
}

.nav__icon {
  display: flex;
  margin-right: 25%;
  align-items: center;

  >img {
    width: 25px;
    margin-right: 12px;
  }
}

/* From Uiverse.io by ErzenXz */
.input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 60%;
  height: 30px;
  padding: 10px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}



.fa-brands {
  color: gray;
  border-radius: 100%;
  border: solid gray;
}

.footer {

  width: 100%;
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  display: flex;
  height: 65vh;
  flex-direction: column;
  justify-content: space-between;
}

.footer p {
  width: 80%;
  margin: 0 auto;
}

.footer__icon img {
  width: 35px;
  margin: 10px;
}

.footer__img img {
  width: 70px;
}


.footer__map {
  width: 100%;
  height: 25vh;
}


.backimg1 {
  background-image: url(../images/homeimg/vinn-koonyosying-98Xi5vMGKck-unsplash.jpg);
}

.backimg2 {
  background-image: url(../images/homeimg/slider1.jpg);
}

.backimg3 {
  background-image: url(../images/homeimg/slider2.png);
}

.backimg4 {
  background-image: url(../images/homeimg/photo-1653233797467-1a528819fd4f.jpeg);
}

.backimg1,
.backimg2,
.backimg3,
.backimg4 {
  width: 100%;
  display: block;
  background-position: center;
  background-size: cover;

}

.cookieCard2 {
  color: #FFFFFF;
  position: relative;
  top: 45%;

  >h1 {
    font-weight: bolder;
    font-family: 'vazirbold';
  }
}

.scroll-img {
  height: 80px;
  overflow: hidden;
  margin: 20px auto;
  width: 100%;
  text-align: center;

  >img {
    width: 5%;
  }
}

/* Style the tab */
.tab {
  margin-top: 4rem;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  margin: 0 auto;
}



/* Style the buttons inside the tab */
.tab button {
  justify-content: center;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;

}

.price {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price button {
  border: none;
  border-radius: 6px;
  background-color: #59ba41;
  color: white;
  margin: 0 5px;
  cursor: pointer;
}



.cta {
  width: 100%;
  height: 80vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../images/homeimg/photo-1588930850267-fe671c9ed91f.jpeg);
  border: 10px solid white;
}

.cta__txt {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2em;
  text-align: center;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.eshterak {
  border-radius: 10px;
  border: 0;
  background-color: #d79f2f;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: #935c14 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;

}


form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.input-with-icon {
  width: 210px;
  height: 45px;
  box-sizing: border-box;
  position: relative;
  /* برای موقعیت‌دهی آیکون */
  margin-right: 10px;
  margin-left: 10px;
}

#name {
  padding-right: 40px;
}

#number {
  padding-right: 40px;
}

#city {
  padding-right: 40px;
}

.input-with-icon img {
  position: absolute;
  width: 20px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
  /* برای جلوگیری از تداخل با کلیک */
}

.input-with-icon input {
  padding-left: 30px;
  /* فضا برای آیکون */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.input-with-icon select {
  padding-left: 30px;
  /* فضا برای آیکون */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}



.last-Section {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: black;
  margin-bottom: 4em;
  margin-top: 0;
}

.last-Section p {

  color: gray;

}

.cart_blog:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.402);
  cursor: pointer;
}

.cart_blog h3 {
  font-size: large;
  margin: 20px 10px 20px 10px
}

.cart_blog button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  color: #FFFFFF;
  cursor: pointer;
  width: 180px;
  font-size: 16px;
  font-weight: 800;
  line-height: 10px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  margin: 20px 10px 20px 10px
}



.cart_blog {
  text-align: center;
  box-shadow: 0px 0px 10px 1px #bebebe;
  border-radius: 5px;
  margin: 20px;
  overflow: auto;
}


.cart_blog img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

/* استایل‌های مخصوص لپ‌تاپ و دسکتاپ */
@media (min-width: 768px) {

  .nav {
    height: 90px;
  }

  /* استایل مخصوص منو لپ تاپ */
  .nav__a {
    display: block;
    position: static;
    /* در دسکتاپ، منو دیگه نیازی به ثابت بودن نداره */
  }

  #open {
    display: none;
  }


  .nav__a {
    display: -webkit-box;
    width: 40%;
    font-family: afont;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .nav a:hover {
    color: gray;
  }

  .nav__logo {
    width: 12em;

    >img {
      width: 100%;
    }
  }

  .nav__icon #bars {
    display: none;
  }

  .nav.navbar {
    padding: 0;
    background-color: #f1f1f1;
    color: black;
    position: fixed;
  }

  .cookieCard2 {
    right: 20%;

    >h1 {
      font-size: 50px;
    }
  }

  /* From Uiverse.io by vinodjangid07 */
  .cookieCard {

    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    position: absolute;
    left: 2%;
    bottom: 10%;
  }


  .cookieHeading {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(241, 241, 241);
    z-index: 2;
  }

  .cookieDescription {
    font-size: 0.9em;
    color: rgb(241, 241, 241);
    z-index: 2;
  }

  .cookieDescription a {
    color: rgb(241, 241, 241);
  }

  .acceptButton {
    padding: 11px 20px;
    background-color: #96af4e;
    transition-duration: .2s;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 600;
    z-index: 2;
  }

  .acceptButton:hover {
    background-color: #714aff;
    transition-duration: .2s;
  }

  /* استایل مخصوص اسلایدر */
  .backimg1,
  .backimg2,
  .backimg3,
  .backimg4 {
    height: 80vh;
  }

  /* منوغذا */
  .tab {
    width: 80%;

    >button img {
      width: 45px;
    }

    >button {
      font-size: 17px;

    }
  }


  .img-Section__link .price p {
    font-size: 15px;
  }

  .price button {
    font-weight: 500;
    font-size: small;
    padding: 5px 14px;
  }


  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }



  .img-Section {
    width: 80%;
    height: fit-content;
    margin: 4em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .img-Section__link {
    width: 80%;
    height: auto;
    margin: 0 auto;
    /* margin: 1em; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
  }


  .img-Section__link img {
    width: 200px;
  }

  .img-Section__link p {
    font-size: 10px;
    flex-grow: 1
  }

  #tab1 img,
  #tab2 img {
    height: 200px;
  }

  #tab3 .img-Section__link,
  #tab4 .img-Section__link,
  #tab5 .img-Section__link {
    padding-top: 40px;
  }

  .eshterak {
    /* From Uiverse.io by absoluteSTrange */
    padding: 17px 40px;

  }

  .cart_blog {
    height: 550px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
  }

  .fa-brands {
    font-size: 25px;
    padding: 15px;
    margin: 20px;
  }


  .footer__address ul {
    display: flex;
    justify-content: space-around;
  }
}



/* استایل موبایل */
@media (max-width: 766px) {
  .nav {
    display: flex;
    justify-content: space-between;

    >.nav__icon {
      width: 25%;
      display: flex;
      justify-content: space-around;
    }
  }

  /* استایل مخصوص منو موبایل */
  .nav__a {
    display: none;
    position: fixed;
    top: 52px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a6a6a6;
    /*  بک گراند تیره برای پوشاندن صفحه */
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    /* تا زمانی که باز نشده، کلیک روی آن بی اثر است */
    transition: opacity 0.3s ease;
    /* انیمیشن برای باز و بسته شدن */
  }

  .menu_phone {
    display: block;
    opacity: 1;
    pointer-events: auto;
    /* کلیک روی منو فعال میشه */
  }

  .input {
    display: none;
  }

  .nav__logo {
    width: 45%;

    >img {
      width: 100%;
    }
  }

  .nav__a ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;

    >li {
      text-align: center;

      >a {
        color: red;
      }
    }
  }

  /* اسلایدر */
  .backimg1,
  .backimg2,
  .backimg3,
  .backimg4 {
    height: 50vh;
  }

  .cookieCard {
    display: none;
  }

  .cookieCard2 {
    right: 15%;

    >h1 {
      font-size: 22px;

    }
  }

  /* جداکننده */
  .scroll-img {
    height: fit-content;
    width: 100%;
    text-align: center;

    >img {
      width: 15%;
    }
  }

  /* منوغذا */
  .tab {
    width: 90%;
    font-size: 10px;

    >button img {
      width: 30px;
    }

    >button {
      font-size: 12px;
    }
  }

  .img-Section__link .price p {
    font-size: 10px;
    font-weight: 700;
  }

  .price button {
    font-size: 10px;
    padding: 2px 12px;
  }

  .img-Section {
    width: 90%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 25px;
  }

  .img-Section__link {
    padding: 9px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(80, 115, 74, 0.2);

    >img {
      width: 100px;
    }

    >h5 {
      font-size: 15px;
    }

    >p {
      font-size: 10px;
    }
  }

  .cta__txt {
    >h2 {
      font-size: 20px;
      line-height: 30px;
    }

    >form {
      display: flex;
      flex-direction: column;

      >.input-with-icon {
        width: 165px;
        height: 35px;
        margin: 10px 0;
      }
    }
  }

  .eshterak {

    padding: 8px 30px;

  }


  .last-Section {
    display: block;
  }

  .cart_blog {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
  }

  .fa-brands {
    font-size: 15px;
    padding: 12px;
    margin: 20px 15px;
  }

  .footer__address ul {
    display: flex;
    flex-direction: column;
    line-height: 35px;
  }
}