//mobile
body {
    background-image: linear-gradient(360deg, rgb(165, 165, 165), transparent);
}

.categories {
    width: $full-width;

}

.ctgy {
    text-align: center;
    @include flexBox(space-between, center, column);
    width: 90%;
    margin: auto;
    margin-bottom: $xxl-margin;
    // background-color: red;

    &__img {
        position: relative;

        img {
            width: 90%;

        }
    }

    &__back {
        @include position(absolute, 0px, 15%, auto, auto);
        z-index: -1;
        width: 70%;
        height: 90%;
        border-radius: 50%;
        background-color: #c3a794;

        >img {
            width: $full-width;
        }
    }

    &__back2 {
        @include position(absolute, 0px, 15%, auto, auto);
        z-index: -1;
        width: 70%;
        height: 90%;
        border-radius: 50%;
        background-color: #6b7667;
    }

    &__note {
        h1 {
            font-family: gloria;
        }

        a {
            font-family: afont;
            border: solid 2px;
            padding: $xs-padding $s-padding;
            margin: 20px;
            border-radius: 100px;
        }

        a:hover {
            background-color: $primary-color;
            color: $primary-color2;
        }

    }

}


//desktop
@include respond(desktop) {
    .ctgy {
        @include flexBox(space-between, center, row-reverse);

        &__img {
            position: relative;
            width: 40%;

            img {
                width: $full-width;
            }
        }

        &__back {
            top: 0;
            right: 15%;
        }

        &__back2 {
            @include container();
            top: 0;
            right: 12%;
            background-color: #6b7667;
        }

        &__note {
            width: 60%;
        }
    }
}