// mobile first
.nav {
    @include flexBox(center, center, row);
    width: $full-width;
    height: 50px;
    background-color: $primary-color;
    color: $primary-color2;
    margin-bottom: $xxl-margin;


    &__a {
        a {
            margin: 4px;
            font-size: small;

            &:nth-child(3) {
                color: $primary-color;
                background-color: $primary-color2;
                padding: 10px;
                border: 10px solid $primary-color2;
            }
        }
    }

}



//desktop
@include respond(desktop) {
    .nav {
        &__a {
            a {
                margin: $s-margin;
                font-size: larger;
                font-family: afont;
            }
        }
    }
}