//mobile first
.head {
    width: $full-width;
    font-family: gloria;
    margin: $m-margin 0;

    &__logo {
        img {
            width: $full-width;
        }
    }

    &__txt {
        width: 70%;
        text-align: center;
        margin: $s-margin auto;

    }
}


//desktop
@include respond (desktop) {
    .head {
        @include flexBox(center, center, column);

        &__txt {
            font-family: gloria;
        }
    }
}