
.backimg1 ,.backimg2 , .backimg3 {
    display: block;
    width: $full-width;
    height: 80vh;
    background-position: center;
    background-size: cover;
}

.backimg1 {
    background-image: url(../images/homeimg/first-img.jpg);
}

.backimg2 {
    background-image: url(../images/homeimg/second-img.jpg);
}
.backimg3{
    background-image: url(../images/homeimg/third-img.jpg);
}