//phone
.contact {
    @include flexBox(space-between, center, row);
    width: $full-width;
    background-color: $primary-color;
    color: $primary-color2;
    height: 100vh;

    &__img {
        filter: blur(5px);
        width: $full-width;

        >img {
            width: $full-width;
        }
    }

    &__form {
        position: absolute;
        width: $full-width;
        text-align: center;

        &--input {
            ::placeholder {
                text-align: center;
                color: $primary-color2;
            }

            >input {
                color: $primary-color2;
                display: block;
                outline-offset: -2px;
                width: $half-width;
                height: 50px;
                border: none;
                border-bottom: 2px solid $primary-color2;
                background-color: transparent;
                padding: 0 $s-padding;
                margin: $m-margin auto;
            }

            input[type=button] {
                background-color: $primary-color2;
                font-size: 1em;
                color: black;
                cursor: pointer;
            }

            input[type=date]::-webkit-calendar-picker-indicator {
                padding: 5px;
                background-color: $primary-color2;
            }
            input[type=date]::-webkit-datetime-edit {
                color: transparent;
            }
            input:focus::-webkit-datetime-edit {
                color: $primary-color2;
            }
        }
    }
}



//desktop
@include respond(desktop) {
    .contact {
        height: auto;

        &__img {
            filter: none;
            width: 40%;
        }

        &__form {
            position: static;
            width: 60%;
            text-align: center;
        }
    }
}