//mobile first
.img-Section {
    width: $full-width;
    margin: $l-margin auto;
    @include flexBox (center, center, column);
    flex-wrap: nowrap;
    overflow: hidden;
    
    &__link {
        @include container();
        margin: $s-margin;
        @include flexBox (center, center, column);
        position: relative;

        img {
            width: $full-width;
        }

        a {
            @include position (absolute, auto, auto, -20px, auto);
            padding: $s-padding $m-padding;
            background-color: $primary-color2;
            color: $primary-color;
            font-family: afont;
        }

        a:hover {
            box-shadow: 0px 1px 7px;
            transform: translatey(-5px);
        }

        h2 {
            font-family: displaybold;
            font-size: 53px;
            margin: 0;
            @include position(relative, 20px, 0, 0, 0);
            animation: shadow1 5s infinite;
        }
    }
}


//desktop
@include respond(desktop) {
    .img-Section {
        @include flexBox(center, center, row);
        width: $full-width;
        margin: $l-margin 0;

        &__link {
            width: $full-width;
            margin: $s-margin;
            @include flexBox (center, center, column);
            position: relative;

            img {
                width: $full-width;
            }

            h2 {
                font-size: 5em;
            }
        }

    }
}

@keyframes shadow1 {
    0% {
        text-shadow: 2px 2px 1px #ffb691;
    }

    25% {
        text-shadow: 3px 2px 1px #ffe19a;
    }

    50% {
        text-shadow: 2px 2px 1px #f3f4a9;
    }

    75% {
        text-shadow: 3px 2px 1px #cbffab;
    }

    100% {
        text-shadow: 2px 2px 1px #ffcab0;
    }
}